
.deliveryOr, .namePhone, .address, .toppingSize, .order, #addPie, #completePie, #pizzaTypeButton {display: none;
}

.jumbotron{
  text-align: center;
  font-weight: bolder;
  color: red;
  font-style: italic;
}

#createPizza{
  display: block;
  margin: auto;
}

.delivery{
  text-align: center;
}



/*.checkboxs{
  font-size: 20px
}
#pizzaForm{
  font-size: 20px;
  font-family: monospace;
}*/
